/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Font
  ========================================
*/

body {
  font: 300 16px/22px "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9B8682;
}


/*
  ========================================
  Navigation
  ========================================
*/

.primary-nav, .dropdown-item {
  height: 4%;
  background-color: #FFFFFF;
  font-size: 80%;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;;
  font-weight: bold;
}


/*
  ========================================
  Home
  ========================================
*/

#home {
  height: 100%;
  margin-bottom: 5%;
}

#home h3{
  margin-top: 20%;
  margin-left: 10%;
  font-size: 200%;
  text-transform: uppercase;
  font-weight: bold;
}

#home h1{
  font-size: 600%;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
}

#home h4{
  font-size: 80%;
  margin-left: 10%;
  margin-top: 10%;
  font-weight: bold;
  color: #515A5A;
}

 #home img {
  margin-top: 8%;
  width:100%;
  border-radius: 10px;
}

#home .btn{
  margin-left: 10%;
  margin-top: 5%;
  font-size: 200%;
  color: #515A5A;
  border: 3px solid #515A5A;
  border-radius: 10px;
}

#home .btn:hover{
  border: 3px solid #515A5A;
  color: white;
  background-color: #515A5A;
}

/*
  ========================================
  Art Portfolio
  ========================================
*/

#artportfolio {
  margin-bottom: 10%;
  padding-top: 3%;
}

#artportfolio h1{
  text-transform: uppercase;
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 5%;
}

#artportfolio h2{
  font-size: 100%;
  font-weight: bold;
}

.img-thumbnail{
  position: relative;
  margin-top: 10px;
  border-radius: 50%;
  padding: 5px;
  width: 150px;
  margin: 5px 5px 5px 10px;
}

/* Add a hover effect (blue shadow) */
#artportfolio img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*
  ========================================
  Web Portfolio
  ========================================
*/

#webportfolio h1{
  text-transform: uppercase;
  font-size: 300%;
  font-weight: bold;
}

#webportfolio h2{
  font-size: 100%;
  font-weight: bold;
}

#webportfolio{
  height: 100%;
  margin-bottom: 15%;
  padding-top: 3%;
}

/*
  ========================================
  About
  ========================================
*/

#about {
  height: 100%;
  margin-bottom: 5%;
  padding-top: 3%;
}

 #about img {
    width:100%;
    margin-top: 30%;
    border-radius: 10px;
}

#about h1{
  font-size: 200%;
  font-weight: bold;
  text-transform: uppercase;
}

#about h2{
  font-size: 150%;
  text-align: right;
  font-weight: bold;
  text-align: right;
}

#about p{
  font-size: 100%;
  font-weight: bold;
  color: #515A5A;
}

#about h3{
  text-align: right;
  color: #515A5A;
  font-size: 70%;
  font-weight: bold;
}

/*
  ========================================
  Contact Me
  ========================================
*/

#contact {
  padding-top: 3%;
  height: 100%;
  margin-top: 15%;
  margin-bottom: 5%;
}

#contact h1{
  font-size: 300%;
  text-transform: uppercase;
  font-weight: bold;
}

#contact h2{
  font-size: 100%;
  font-weight: bold;
}

#contact .input-text{
  width: 60%;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
}

#contact .message{
  height: 200px;
}

#contact .send-btn{
  font-weight: bold;
  font-size: 100%;
  color: #515A5A;
  border: 3px solid #515A5A;
  border-radius: 10px;
}

#contact .send-btn:hover{
  border: 3px solid #515A5A;
  color: white;
  background-color: #515A5A;
}


/*
  ========================================
  Button
  ========================================
*/


.contact-links{
  margin-left: 10%;
  margin-top: 5%;
  font-size: 200%;
  color: #515A5A;
}

.contact-links a{
  margin-right:  10px;
  color: #515A5A;
 }

